# Yamaha CS-80 Simulator — Blade Runner Edition
# Python >= 3.10 recomendado (probado en 3.10+)

numpy>=1.24.0
scipy>=1.10.0
sounddevice>=0.4.6

# MIDI opcional
mido>=1.3.0
python-rtmidi>=1.5.0

# Visualizador OpenGL estilo Winamp
pygame>=2.5.0
PyOpenGL>=3.1.6
PyOpenGL-accelerate>=3.1.6; platform_python_implementation=="CPython"
